@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

*::selection {
    color: white;
    background-color: #4169E1;
}

body {
    background: #1D224E url('./img/background.webp') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    padding: 2rem;
}

.logo-header {
    width: 3rem;
}

.logo-header::selection {
    background: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 12rem);
}

main > span {
    color: white;
    padding: .5rem 2rem;
    border: 1px solid #F1F4FD;
    border-radius: 2rem;
    margin-bottom: 2rem;
    opacity: .7;
    cursor: pointer;
    transition: .2s;
}

main > span:hover {
    opacity: 1;
}

main > span::selection {
    background: none;
}


main > h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 2rem;
}

main > h1 > span {
    color: #4169E1;
}

main > p {
    color: white;
    font-size: 1.2rem;
    width: 40%;
    text-align: center;
}

main > button {
    margin-top: 2rem;
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    color: white;
    background-color: #7097EA;
    transition: .3s;
}

main > button:hover {
    background-color: #4169E1;
}

footer {
    color: white;
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
    opacity: .2;
}

footer > p::selection {
    background: none;
}

@media ( max-width: 760px ) {
    main {
        width: 100%;
    }

    main > h1 {
        width: 100%;
        font-size: 3rem;
    }

    main > h1 > br {
        display: none;
    }

    main > p {
        width: 80%;
        font-size: 1rem;
    }

    main > span {
        display: none;
    }
}

@media ( max-width: 380px ) {
    main {
        width: 100%;
    }

    main > h1 {
        width: 100%;
        font-size: 2.5rem;
    }

    main > h1 > br {
        display: none;
    }

    main > p {
        width: 100%;
        font-size: .8rem;
    }
}

@keyframes tracking-in-contract-bck-top {
    0% {
        letter-spacing:1em;
        transform:translateZ(400px) translateY(-300px);
        opacity:0
    }
    40% {
        opacity:.6
    }
    100% {
        transform:translateZ(0) translateY(0);
        opacity:1
    }
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter:blur(12px);
        filter:blur(12px);
        opacity:0
    }
    100% {
        -webkit-filter:blur(0);
        filter:blur(0);
        opacity:1
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter:blur(12px);
        filter:blur(12px);
        opacity:0
    }
    100% {
        -webkit-filter:blur(0);
        filter:blur(0);
        opacity:1
    }
}

.tracking-in-contract-bck-top {
    animation:tracking-in-contract-bck-top 1s cubic-bezier(.215,.61,.355,1.000) both
}

.scale-in-center {
    -webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both
}

.text-focus-in {
    -webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
    animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both
}